.navBarText {
  
  /* height: 22px; */
  margin-left: 453px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

.navBarBrand {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
  color: #3D00F2 !important;
}

.navLink {
  margin-left: 200px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

/* Ajout pour aligner les éléments de la barre de nav */
.navbar-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.marginTopLeft20 {
  margin: 20px 0px 0px 20px;
}

.marginLeft20 {
  margin: 0px 0px 0px 20px;
}

.marginLeftRight20 {
  margin: 0px 20px 0px 20px;
}

.marginTopLeftRight20 {
  margin: 20px 20px 0px 20px;
}

.marginBottom20 {
  margin: 0px 0px 20px 0px;
}

.movementFieldLabel {
  padding: 15px 0 0 15px;
}

.TextBold,
.movementFieldLabel {
  font-weight: bold;
}

.required:after {
  content: " *";
  color: red;
}

/* FormMeansTransport  */
.marginRight10 {
  margin: 0px 10px 0px 0px;
}

/* CustomSwitch */
.switchContainer {
  margin-left: 10px;
  display: inline-flex;
  width: max-content;
  height: max-content;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
}

.switchContainerFloat {
  display: inline-flex;
  width: max-content;
  height: max-content;
  border: 1px solid blue;
  border-radius: 5px;
  float: right;
}

.sourceSwitchContainerFloat {
  display: inline-flex;
  width: 88px;
  height: max-content;
  border: 1px solid blue;
  border-radius: 5px;
  float: right;
}

.toggleItem {
  height: 25px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
}

.sourceToggleItem {
  height: 25px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
}

.customSwitchText {
  font-size: 14px;
}

.tableItem {
  width: 770px;
  height: 32px;
  padding: 0px 24px 0px 24px;
  gap: 24px;
  opacity: 0px;
}

.tdItemName {
  width: 120px;
  max-width: max-content;
  height: 24px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  text-align: left;
}

.tdNumericImput {
  width: 20px;
  max-width: 20px;
  height: 24px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
}

.tdNumericImputContent {
  text-align: center;
  font-family: 'Montserrat';
  float: 'right';
  opacity: 0px;
}

.tdDelete {
  width: 27.44px;
  height: 24px;
  padding: 5px 8px 5px 8px;
  gap: 4px;
  border-radius: 3px 0px 0px 0px;
  border: 1px;
  opacity: 0px;
}

.tdDeleteButton {
  border-color: #3D00F2 !important;
  color: #3D00F2 !important;
  background-color: aliceblue !important;
  text-align: center !important;
}

.addItem {
  width: 100px;
  height: 24px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin: 20px 0px 20px 0px;
}

.buttonSecondary,
.addItemButton {
  border-color: #3D00F2 !important;
  color: #3D00F2 !important;
  background-color: aliceblue !important;
  text-align: center !important;
}

.textRegular,
.addItem,
.modalNext,
.modalText,
.modalPrevious {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.informationSource {
  width: 770px;
  min-height: 188px;
  height: fit-content;
  border-radius: 0px 0px 4px 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(249, 248, 252, 1) !important;
  padding-top: 24px;
  gap: 8px;
}

.informationSourceBis {
  width: 747px;
  min-height: 188px;
  height: fit-content;
  border-radius: 0px 0px 4px 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(249, 248, 252, 1);
  padding-top: 24px;
  gap: 8px;
}

.sourcePageInputs {
  margin: 15px 50px 15px 0px;
}

.boxGeneral {
  width: 770px;
  max-height: 662px;
  padding: 24px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
}

.boxMovement {
  width: 770px;
  min-height: 370px;
  padding: 24px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
}

.boxDigital {
  width: 770px;
  min-height: 370px;
  padding: 24px 0px 0px 0px;
  gap: 24px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  top: 42px;
  left: 366px;
}

.boxOffice {
  margin-top: 24px;
  width: 770px;
  max-height: 370px;
  padding: 24px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
}

.boxOfficeInputs {
  margin-top: 15px;
  display: inline-flex;
}

.boxItem {
  width: 770px;
  min-height: 77px;
  border-radius: 0px 4px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.onPageNumericeInput {
  text-align: center;
  font-family: 'Montserrat';
  opacity: 0px;
}

.checkboxListSection {
  width: 771px;
  min-height: 180px;
  top: 48px;
  padding: 24px 10px 0px 10px;
  gap: 8px;
  margin-bottom: 48px;
}

.checkboxListItemSection {
  width: 751px;
  min-height: 63px;
  opacity: 0px;
  display: flex;
  flex-wrap: wrap;
}

.checkboxListItem {
  width: 229px;
  height: fit-content;
}

.checkboxListFieldTitleSection {
  width: 427px;
  height: 36px;
  opacity: 0px;
}

.labelSemiBold,
.checkboxListFieldTitle,
.boxDigitalHeadTitle .selectedListFieldTitle {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #737373;
}

.checkboxListFieldSubTitle,
.boxDigitalFieldTitle,
.boxSubTitle,
.textRequired {
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}

.textRequired {
  color: red;
  padding-top: 10px;
}

.boxSubTitle {
  color: #737373;
}

.boxDigitalHeadTitle {
  width: 659px;
  height: 34px;
  gap: 4px;
  opacity: 0px;
}

.boxDigitalFieldTitle {
  width: 659px;
  height: 60px;
  gap: 4px;
  opacity: 0px;
}

.boxDigitalInput {
  display: inline-flex;
  width: 637px;
  height: 33px;
  gap: 8px;
  opacity: 0px;
}

.boxDigitalDropbox {
  width: 516px;
  height: 33px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.defaultBox {
  width: 770px;
  height: 190px;
  max-height: 190px;
  top: 24px;
  gap: 24px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.defaultBoxText {
  margin-top: 30px;
  margin-left: 182px;
}

.textItalic,
.defaultBoxText {
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 17.07px;
  color: #A5A5A5;
  justify-content: center;
  align-items: center;
}

.defaultBoxImg {
  width: 161px;
  height: 161px;
  gap: 0px;
  opacity: 0px;
  margin-top: 40px;
  margin-left: 304px;
}


/* Modal */

.modalTitle {
  width: 127px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
}

.modalText {
  text-align: left;
}

.modalButtons {
  width: 168px;
  height: 25px;
  gap: 8px;
  opacity: 0px;
}

.modalNext {
  width: 70px;
  height: 25px;
  padding: 4px 8px 4px 8px;
  text-align: center !important;
  border-radius: 3px;
  background: rgba(255, 89, 37, 1);
  border-color: rgba(255, 89, 37, 1);
  color: rgba(255, 255, 255, 1);
}

.modalPrevious {
  width: 70px;
  height: 25px;
  padding: 4px 8px 4px 8px;
  text-align: center !important;
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
  border-color: rgba(255, 89, 37, 1);
  color: rgba(255, 89, 37, 1);
}

.modalPageNumber {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: rgba(255, 89, 37, 1);
}

.informationSourceBase {
  width: 722px;
  height: 34px;
  gap: 8px;
  opacity: 0px;
  margin-top: 25px;
}

.iconLabel {
  margin-right: 5px;
}

.marginTop15 {
  margin: 15px 0px 0px 0px;
}

.SelectedListSection {
  position: sticky !important;
  width: 228px;
  height: 114px;
  max-height: fit-content;
  top: 24px;
  padding: 16px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.selectedListFieldTitle,
.selectedListItemLabel {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
}

.selectedListItemLabel {
  color: #3D00F2 !important;
}