$primary: #0e76a8;
$color-orange: #FF5925  ;
$color-lightorange:#ffebe5;
$color-red:#E70000;
$color-lightred:#FF4C4C;
$color-gray:#E7E7E7;
$color-lightgray:#FBFBFB;
$color-blackgrey:#3A3A3A;
$color-bluegrey:#F7F5FF;