.navBar {
    background: rgba(249, 248, 252, 1);
}

.formNavLabel {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: left;
}

.formNav {
    /* margin: auto; */
    width: 770px;
    display: flex;
    height: 41px;
    margin-left: 470px;
    gap: 0px;
    opacity: 0px;
}

.formTabButtons {
    height: 41px;
    gap: 0px;
    opacity: 0px;
}

.table {
    width: 778px;
    height: 247px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
    width: 50%;
    margin-top: 24px;
}

.tableHead {
    background-color: #FF5925;
}

.textSemi,
.tableItemName {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    color: #FF5925 !important;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    color: #6D6D6D !important;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
}

td:first-child {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    color: #FF5925 !important;
    text-align: left;
}

th {
    background-color: #FF5925 !important;
    border-color: #FF5925 !important;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 21.86px;
    text-align: center;
    color: white !important;
}

.formTabCurrentEntry {  
    border-bottom-color: #FF5925;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    font-weight: 700;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 17.07px;
    text-align: left;
  }
