body {
    background: #fbfafa;
    color: #33333a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323232;
}

.strike-through-td {
    text-decoration: line-through;
}


.custom-bg {
    background-color: #FBFBFB;
    min-height: 100vh; /* S'assure que le fond prend toute la hauteur */
}


