@import './styles/variables';

body {
    background: $color-gray;
    color: $color-blackgrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-blackgrey;
}

.strike-through-td {
    text-decoration: line-through;
}

/* Pour que le fond du composant Outler soit grisé sur toute la hauteur */
.custom-bg {
    background-color: $color-gray;
    min-height: 100vh; /* S'assure que le fond prend toute la hauteur */
}


