
.saveButton {
  background-color: white !important;
  border-color: #fa6343 !important;
  color: #fa6343 !important;
  margin-right: 0.5rem !important;
}

.submitButton {
  background-color: #fa6343 !important;
  border-color: #fa6343!important;  
  margin-right: 0.5rem !important;  
}

.formButtons {  
  background-color:whitesmoke;  
  display: table-cell;
  vertical-align: bottom!important;  
  
}

.submissionButtons {
  display: inline-flex!important;
  margin-left: 50px;
}

.marginLeftRight10 {    
  margin: 0px 10px 0px 10px;
}

.left {
  margin-left: calc(25% - 10px);
  height: 40px;
  margin-top: 4px;
  overflow: hidden;
  width: auto;
}

.center {
  margin: auto;
  width: 50%;
}
