@import '../../styles/variables';

.saveButton {
  background-color: white;
  border-color: $color-orange;
  color: $color-orange;
  border: 1px solid;
  margin-right: 0.5rem;
  width: Hug (96px)px;
  height: Hug (25px)px;
  padding: 4px 8px 4px 8px;
  gap: 8px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid $color-orange;
}

.submitButton {
  background-color: $color-orange;
  border-color: $color-orange;
  margin-right: 0.5rem;

  width: Hug (93px)px;
  height: Hug (25px)px;
  padding: 4px 8px 4px 8px;
  gap: 8px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
}

.deleteButton {
  background-color: $color-orange;
  border-color: $color-orange;
  width: Hug (26px)px;
  height: Hug (25px)px;
  padding: 4px 8px 4px 8px;
  gap: 8px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.submissionButtonTypography,
.submitButton,
.saveButton,
.deleteButton,
.formTabButtons {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
}

.formButtons {
  background-color: whitesmoke;
  display: table-cell;
  vertical-align: bottom !important;
}

.marginLeftRight10 {
  margin: 0px 10px 0px 10px;
}

.center {
  margin: auto;
  width: 50%;
}

.formTabButtons {
  /* width: 466px; */
  height: 41px;
  gap: 0px;
  opacity: 0px;
}

.formTabCurrentEntry {
  border-bottom-color: $color-orange;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  font-weight: 700;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 17.07px;
  text-align: left;
}

.formTabSingleButton:hover {
  font-weight: 700;
}

.title2Reg,
.formTabSingleButton {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
}

.formSubmissionButtons {
  float: left !important;
  width: 231px;
  height: 41px;
  gap: 8px;
  opacity: 0px;
}

.formNav {
  margin: auto;
  width: 770px;
  display: flex;
  height: 41px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.navBar {
  background: $color-bluegrey;
  display:flex;
  flex-direction: column;
  // align-items:'flex-end';
  padding-top:10px;
  padding-right:10px;
  padding-left:10px;
  padding-bottom: 0; /* Suppression du padding par défaut */
  // height: auto; 
}

.generalTab {
  margin: auto;
  width: 770px;
  height: 41px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.movementTab {
  margin: auto;
  width: 770px;
  height: 41px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.movementTab2 {
  margin-left: 90px;
}

.officeTab {
  margin: auto;
  width: 770px;
  height: 41px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.formBoxSection {
  margin: auto;
  width: 770px;
  height: 41px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.formTabDisabled {
  pointer-events: none;
  opacity: 0.7;
}

.movementTabSelectedListSection {
  margin-top: 24px;
  margin-left: 250px;
}



//Pour l'onglet sélectionné parmi A soumettre et Soumis
.selectedButton {
  border-top:0.1px solid $color-gray;
  border-left:0.1px solid $color-gray;
  border-right:0.1px solid $color-gray;
  border-bottom: 2px solid $color-orange; 
  font-size:16px;
  font-weight: 700; 
  color: $color-orange; 
  background-color: white;
  color:$color-blackgrey;
  border-radius: 5px 5px 0 0;     
}

//Pour l'onglet non sélectionné parmi A soumettre et Soumis
.unselectedButton {
  background-color: $color-lightorange; 
  border: none; 
  color: $color-blackgrey; 
  font-weight: 400; 
  border-radius: 5px 5px 0 0; 
}

/*Mise en forme des informations au-dessus de GENERAL, DEPLACEMENT*/
.pdfContainer{
  margin: 10px 0; /* Espacement en-dessous et au-dessus du bouton PDF */
  
}

.pdfButton{
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 8px;
  color: $color-orange;
  border:1px solid $color-orange;
  text-decoration: none;
  border-radius: 4px;
}

.pdfButtonImg{
  margin-left:10px;
}

.infoContainer {
  display: flex;
  gap:20px;  
  margin-bottom: 10px;
}

.leftContainer {
  display: flex;
  margin:auto;
  width:770px;
  flex-direction: column; /* Aligne le PDF et les infos verticalement */
  // margin-right: auto; /* Pousse le conteneur de droite (les boutons) vers la droite */
}

.label {
  color: black; // Texte en noir
  margin-right: 10px; // Espacement entre les lignes
}

.labelValue {
  margin-right: 10px;
  color: $color-orange; // Valeurs en orange
}

.labelSpacer {
  margin-right: 20px; // Espacement supplémentaire si nécessaire
}

.imgButton{
  margin-right:10px;
}

input::placeholder,
textarea::placeholder {
    color: lightgray !important; // Couleur gris clair
    font-style: italic; // Italique
}

.dropdownToggle {
  background-color: white!important;
  border: 1px solid #d3d3d3!important; /* Bord gris clair */
  color: #999!important; /* Texte gris */
  width: 100%!important; /* Prend toute la largeur */
  padding: 10px!important; /* Ajoutez du padding pour l'apparence */
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;

  &:focus {
      outline: none; /* Supprimer le contour */
      box-shadow: none; /* Supprimer l'ombre */
  }
}

.dropdownField {
  font-size: 14px; /* Ajustez la taille de la police */
}

/*Bouton suivant*/
.buttonContainer {
  display: flex;
  justify-content: flex-start; /* Aligne à gauche */
  margin-top: 20px; /* Espace au-dessus du bouton */
}

.nextButton {
  background-color: $color-orange; /* Couleur du bouton */
  color: white; /* Couleur du texte */
  border: none;
  border-radius: 4px;
  padding: 10px 20px; /* Espacement à l'intérieur du bouton */
  cursor: pointer;

  &:hover {
      background-color: $color-lightorange; /* Couleur au survol */
  }
}
